body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.item {
    margin: 20px;
    text-align: center;
}

.media{
    background-color: rgba(200, 200, 200, 0.9);
    text-align: left;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

ion-icon {
    margin-right: 5px;
}
